
/*=============== LAYOUT ===============*/
.wrapper {
    display: flex;
    flex-direction: column
}

article, .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    position: relative
}

.grid {
    display: grid;
    align-items: center
}

article {
    width: 70%;
    flex-direction: column
}

canvas {
    width: 100%;
    height: 100%;
}

#bg-waterdrops {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: auto;
}

/* slick slider */
.slick-slider {
    width: 50vw;
    height: 420px;
    margin-top: -8%;
    margin-left: 10%;
    z-index: 10;
    overflow: hidden

    img {
        width: 100%
    }
}

section[class*="scroll-text"] {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px rgba(88, 124, 188, .6);
    text-transform: uppercase;
    white-space: nowrap;
}

section.scroll-text {
    font-size: 13vw;
}

section.scroll-text-02 {
    font-size: 10vw;
    margin-left: -100%
}
