@-webkit-keyframes appear {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes appear {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@-webkit-keyframes scroll {
  0% {
      opacity: 0;
  }
  10% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(15px);
      opacity: 0;
  }
}

@keyframes scroll {
  0% {
      opacity: 0;
  }
  10% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(15px);
      opacity: 0;
  }
}

@-webkit-keyframes moveUp {
  0% {
      opacity: 0;
      transform: translateY(120%)
  }
  100% {
      opacity: 1;
      transform: translateY(0%)
  }
}

@keyframes moveUp {
  0% {
      opacity: 0;
      transform: translateY(120%)
  }
  100% {
      opacity: 1;
      transform: translateY(0%)
  }
}

@-webkit-keyframes moveSmallUp {
  0% {
      opacity: 0;
      transform: translateY(30px)
  }
  100% {
      opacity: 1;
      transform: translateY(0)
  }
}

@keyframes moveSmallUp {
  0% {
      opacity: 0;
      transform: translateY(30px)
  }
  100% {
      opacity: 1;
      transform: translateY(0)
  }
}

@-webkit-keyframes moveDown {
  0% {
      opacity: 0;
      transform: translateY(-30px)
  }
  100% {
      opacity: 1;
      transform: translateY(0)
  }
}

@keyframes moveDown {
  0% {
      opacity: 0;
      transform: translateY(-30px)
  }
  100% {
      opacity: 1;
      transform: translateY(0)
  }
}

@-webkit-keyframes moveLeft {
  0% {
      opacity: 0;
      transform: translateX(30px)
  }
  100% {
      opacity: 1;
      transform: translateX(0)
  }
}

@keyframes moveLeft {
  0% {
      opacity: 0;
      transform: translateX(30px)
  }
  100% {
      opacity: 1;
      transform: translateX(0)
  }
}

@-webkit-keyframes moveRight {
  0% {
      opacity: 0;
      transform: translateX(-30px)
  }
  100% {
      opacity: 1;
      transform: translateX(0)
  }
}

@keyframes moveRight {
  0% {
      opacity: 0;
      transform: translateX(-30px)
  }
  100% {
      opacity: 1;
      transform: translateX(0)
  }
}